/*
 * Empty Stylesheet file.
 */

/*
 * Empty Stylesheet file.
 */


*{
    -fx-font-family: Roboto;   
}
.principal{
    -fx-background-image:url(17545-scaled.jpg);
}

.jfx-button{
    -jfx-button-type: RAISED;
    -fx-opacity: 0.8;
    -fx-content-display: left;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-alignment:CENTER;
}
.jfx-button:hover{
    -fx-cursor:hand;
}

.jfx-text-field {
    -fx-font-size: 12.0px;
    -fx-pref-height: 26px;
    -fx-min-height: 26px;
    -fx-max-height: 26px;
    -fx-alignment: TOP_LEFT;
    -jfx-focus-color: #09b6bc;
    -jfx-unfocus-color:#4d4d4d ;
    -fx-text-fill: black;
    -fx-prompt-text-fill:#4d4d4d;
}
/***************************LogIn*************************/
.jfx-btn-iniciarSesion{-fx-background-color: #4497BE;}
.jfx-btn-newCuenta{-fx-background-color: #35A1BE;}

.jfx-btn-eyeShow {
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size:contain;
    -fx-background-radius: 50;
    -fx-background-size:30;
    -fx-background-image : url("../resources/Show.png");
}
.jfx-btn-eyeHide {
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size:contain;
    -fx-background-radius: 50;
    -fx-background-size:30;
    -fx-background-image : url("../resources/Hide.png");
}

.jfx-btn-clave{
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size:contain;
    -fx-background-size:20;
    -fx-background-image : url(iconos/eye.png);
}

/***************************Menu*************************/

.jfx-toolbar{
    -fx-background-color: #2AA9BD;
    -fx-min-height:40;
}

.toolbar-label{
    -fx-background-color: transparent;
    -fx-font-size: 20.0px;
    -fx-padding: 5 0 5 0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-text-transform:uppercase;
}

.jfx-btn-redactar{-fx-background-color: #4497BE;}
.jfx-btn-enviados{-fx-background-color: #35A1BE;}
.jfx-btn-pendiente{-fx-background-color: #27ABBD;}
.jfx-btn-notificaciones{-fx-background-color: #20B0BD;}
.jfx-btn-cerrarsesion{-fx-background-color: #14B8BC;}
.jfx-btn-salir{-fx-background-color: #E5472E;}

.jfx-image-usuario{-fx-image:url("../resources/Usuario.png");}

.jfx-btn-redactar > ImageView{-fx-image: url("../resources/redactar.png");}
.jfx-btn-enviados > ImageView{-fx-image: url("../resources/enviar.png");}
.jfx-btn-pendiente > ImageView{-fx-image: url("../resources/pendiente.png");}
.jfx-btn-notificaciones > ImageView{-fx-image: url("../resources/notificaciones.png");}
.jfx-btn-cerrarsesion > ImageView{-fx-image: url("../resources/cerrarSesion.png");}
/*.jfx-btn-salir > ImageView{-fx-image: url("../resources/Salida.png");}*/

.jfx-image-usuario{-fx-image:url("../resources/Usuario.png");}

.jfx-btn-evento{
    -jfx-button-type: RAISED;
    -fx-opacity: 0.8;
    -fx-content-display: left;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 10px;
    -fx-alignment:CENTER;
    -fx-background-color: #E5472E;}

.jfx-contenedor-principal {
    -fx-background-color:#DFDEDC;
    -fx-background-radius: 4.0;
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.15), 10.0, 0.7, 0.0,1.5);
    -fx-padding: 25 15 15 15;
}

.jfx-contenedor-usu {
    -fx-background-color:white;
    -fx-background-radius: 4.0;
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.15), 10.0, 0.7, 0.0,1.5);
    -fx-padding: 25 15 15 15;
}
.jfx-contenedor-ico {
    -fx-background-color:white;
    -fx-background-radius: 4.0;
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.15), 10.0, 0.7, 0.0,1.5);
    -fx-alignment:CENTER;
}

.jfx-fondo {
    -fx-background-color: #DFDEDC;
    -fx-opacity: 0.8;
}
/***************************Correos*************************/
.jfx-btn-generar{-fx-background-color: #2196F3;}
.jfx-btn-cargar{-fx-background-color: #00bcd4;}

.jfx-btn-generar > ImageView{-fx-image: url("../resources/Generar.png");}
/*.jfx-btn-cargar > ImageView{-fx-image: url("../resources/Cargar.png");}*/

/***************************Procesos Noti*************************/

.jfx-panelfondo {
    -fx-background-color: #2AA9BD;
    -fx-opacity: 0.8;
}
.jfx-panelfondo > AnchorPane{
    -fx-background-color: White;
    -fx-border-color: #97a692;
    -fx-border-width: 10px;
}

.jfx-titulo-label{
    -fx-font-size: 20.0px;
    -fx-padding: 5 0 5 0;
    -fx-text-fill: #2AA9BD;
    -fx-font-weight: bold; 
    /*-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 2, 0.0, 1, 2);*/
}
.jfx-subtitulo-label{
    -fx-font-size: 14.0px;
    -fx-text-fill: #2AA9BD;
    -fx-font-weight: bold; 
}

.jfx-subtitulo-label2{
    -fx-font-size: 12;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold; 
}

.jfx-dias-label{
    -fx-font-size: 14.0px;
    -fx-text-fill: black;
    -fx-font-weight: bold; 
}

.jfx-btn-nuevo{-fx-background-color: #4497BE;}
.jfx-btn-Eliminar{-fx-background-color: #2196F3;}
.jfx-btn-buscar{-fx-background-color: #ff6600;}
.jfx-btn-visualisar{-fx-background-color: #2196F3;}
.jfx-btn-guardar{-fx-background-color: #00bcd4;}
.jfx-btn-buscaremple{-fx-background-color: #35A1BE;}
.jfx-btn-agregaremple{-fx-background-color: #20B0BD;}

.jfx-btn-nuevo > ImageView{-fx-image: url("../resources/Nuevo.png");}
.jfx-btn-Eliminar > ImageView{-fx-image: url("../resources/Eliminar.png");}
.jfx-btn-guardar > ImageView{-fx-image: url("../resources/Guardar.png");}

.jfx-btn-buscaremple > ImageView{-fx-image: url("../resources/Buscar-48.png");}
.jfx-btn-agregaremple > ImageView{-fx-image: url("../resources/Nuevo.png");}

.jfx-btn-ant{-fx-background-color: #4497BE;}
.jfx-btn-sig{-fx-background-color: #4497BE;}
.jfx-btn-ant > ImageView{-fx-image: url("../resources/Left.png");}
.jfx-btn-sig > ImageView{-fx-image: url("../resources/Right.png");}

.jfx-btnimg-eliminar{
    -fx-opacity: 0.8;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: contain;
    -fx-background-color: #E5472E;
    -fx-background-image : url("../resources/Eliminar.png");
}

.jfx-btnimg-tbvvisualisar{
    -fx-opacity: 0.8;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: contain;
    -fx-background-color: #154762;
    -fx-background-image : url("../resources/visualizar.png");
}

.table-cell {     
    -fx-padding: 0.5em 0.5em 0.1em 0.3em;
    -fx-border-color: -fx-box-border -fx-box-border transparent transparent;  
    -fx-font: 13px "Roboto";    
    -fx-border-insets: 0;
}

.table-view.filler{
    -fx-background-color: transparent;
    -fx-border-insets: 10
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#2AA9BD 0%, #424141 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: black;
    -fx-alignment:CENTER;
    -fx-font-weight: bold;
}

.table-cell:hover {
    -fx-text-fill:#000066;
    -fx-font-weight: bold;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #79B5E2;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;   
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #97a692;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;   
}

.table-row-cell:selected {
    -fx-background-color: #2AA9BD;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

/***************************Iconos*************************/
.jfx-icono1{-fx-image : url("../resources/Icono1.png");}
.jfx-icono2{-fx-image : url("../resources/Icono2.png");}
.jfx-icono3{-fx-image : url("../resources/Icono3.png");}
.jfx-icono4{-fx-image : url("../resources/Icono4.png");}
.jfx-icono5{-fx-image : url("../resources/Icono5.png");}
.jfx-icono6{-fx-image : url("../resources/Icono6.png");}
.jfx-icono7{-fx-image : url("../resources/Icono7.png");}
.jfx-icono8{-fx-image : url("../resources/Icono8.png");}
.jfx-icono9{-fx-image : url("../resources/Icono9.png");}

.jfx-label{
    -fx-font-size: 14.0px;
    -fx-text-fill: #154762;
    -fx-font-weight: bold; 
}

.jfx-btn-prin{
    -fx-background-color: #009933;
    /*-jfx-button-type: RAISED;*/
    /*-fx-opacity: 0.8;*/
    /*    -fx-content-display: left;*/
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-alignment:CENTER;
}

.jfx-btn-block{
    -fx-background-color: #999999;
}

.lblPrincipal{
    -fx-text-fill:white;
    -fx-font-weight:bold;
    -fx-font-size: 35;
}

.password-field,.text-field{
    -fx-text-fill:#000000;
    -fx-prompt-text-fill:#000000;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-background-color:#ced6e1;
    -fx-font-size: 15;
}

#regresar{
    -fx-background-size:50;
    -fx-background-image : url(iconos/exit_1.png);
}
.tab-pane *.tab-header-area *.tab-header-background {
    -fx-background-color:transparent;
}

.tab-pane {
    -fx-tab-min-width:120px;
    -fx-tab-max-width:120px;
    -fx-tab-min-height:40px;
    -fx-tab-max-height:40px;
}

.tab {
    -fx-font-size: 15;
    -fx-font-weight:bold;
    -fx-background-color:#616b86;
}

.tab:selected {
    -fx-background-color:#ced6e1;
    -fx-text-fill:#ffffff;
}

.hbSeguimiento{
    -fx-background-color: #00bcd4;
    -fx-pref-height: 80;
    -fx-background-radius: 20;
    -fx-alignment: center-left;
    -fx-padding: 0 0 0 25;
}

.txtSeguimiento{
    -fx-background-color:transparent;
    -fx-pref-width: 400;
}

.jfx-txt-gest{
    -fx-pref-height: 26px;
    -fx-min-height: 26px;
    -fx-max-height: 26px;
    -fx-background-color:transparent;
}

.jfx-btnimg-tbveliminar,.jfx-btnimg-guardar,.jfx-btnimg-buscar,.jfx-btnimg-agregar{
    -fx-pref-height: 35;
    -fx-pref-width: 36;
    -fx-alignment:CENTER;
    -fx-content-display:graphic-only;
    -fx-opacity: 0.8;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: contain;
    -fx-background-color: #f44336;
    -fx-border-color:#ffffff;
}

.jfx-btnimg-tbveliminar{
    -fx-background-color: #f44336;
    -fx-background-image : url(icons/delete.png);
}

.jfx-btnimg-buscar{
    -fx-background-color: #ff6600;
    -fx-background-image : url(Buscar-48.png);
}

.jfx-btnimg-guardar{
    -fx-background-color: #00cc33;
    -fx-background-image : url(icons/save.png);
}
.jfx-btnimg-agregar{
    -fx-background-color:#2196F3;
    -fx-background-image : url(Nuevo.png);
}

.hbPriori-actividad{
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 8 0, 0 0 6 0, 0 0 9 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #f4dc00 0% , #86910e 100%),
        #bacb08,
        #bacb08,
        radial-gradient(center 50% 50%, radius 100%, #f4dc00, #86910e);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-size: 18;
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #0e0f08 , 0,0,0,2 );
}

.drag:hover{
    -fx-cursor:hand;
}

